.notification {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    padding: 0 20px; 
  }
  
.notification__bell {
    font-size: 20px;
    color: rgb(255, 196, 0);
    margin-left: 12px;
    margin-top: 7px;
    vertical-align: middle;
}

.notification__text {
    font-size: 14px;
    color: #2a91ff;
    margin-left: 5px;
    margin-top: 0;
    vertical-align: bottom;
}