.tabsContainer {
    margin-top: 10px;
    width: 100%;
    overflow: auto;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.tab {
    font-size: 12px;
    color: #007bff;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 5px;
}

.tab:hover {
    background-color: #007bff;
    color: white;
}

/* Styling for the selected tab */
.tab.selected {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

/* Styles for the search bar and filter button */
.searchBarContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.searchBar {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
    margin-right: 10px;
    background-color: white;
    color: black;
}

.filterBtn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.filterBtn:hover {
    background-color: #0056b3;
}

.gamesList {
    margin-top: 20px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: left;
}
  
.gameItem {
    width: 120px; 
    height: 120px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
  .gameItem h3 {
    margin: 0;
    font-size: 9px;
    color: #333;
  }
  
  .gameItem p {
    margin-top: 5px;
    color: #555;
  }

  .gameItem {
    position: relative;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.starIcon {
    position: absolute;
    top:1px;
    right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s;
}

.starIcon.favorited {
    color: rgb(255, 174, 0);
}


/* Styles for the filter popup */
.filterPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popupContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popupOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}


.providerButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.providerBtn {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.providerBtn:hover {
    background-color: #0056b3;
    z-index: 1000;
}

.providerBtn:active {
    background-color: #003c7d;
    z-index: 1000;
}

.lineDiv {
    font-weight: bolder;
}